body
    background-color: rgb(231, 231, 231)

input, textarea
    border: 1px solid lightgrey
    padding: 10px
    border-radius: 10px

.main-block
    background-color: whitesmoke
    border-radius: 10px
    margin: auto
    padding: 30px
    margin-top: 10px

.add-product-block
    padding: 30px
    box-shadow: 0 0 50px 0 lightgrey
    border-radius: 10px
    margin-top: 5px

.hide
    display: none

.align-center
    text-align: center
    margin: auto

.margin-top
    margin-top: 10px

.full-width
    width: 100%
